<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.colorado.cs.cirrus.android"
    android:versionCode="1"
    android:versionName="0.0.1-SNAPSHOT" >

    <uses-sdk 
        android:minSdkVersion="8" 
        android:targetSdkVersion="15" >
    </uses-sdk>
    

    <uses-permission android:name="android.permission.INTERNET" >
    </uses-permission>

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION">
    </uses-permission>

    <application
        android:debuggable="true"
        android:label="@string/app_name"
        android:theme="@style/Theme.Sherlock.Light"
        android:icon="@drawable/ic_launcher" 
        >
        
        <!-- android:name=".TendrilApplication" -->
        <!-- android:theme="@style/Theme.Sherlock" -->
        
        <activity android:name=".TendrilActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
				
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".AboutActivity" >
            <intent-filter>
                <action android:name="edu.colorado.cs.cirrus.android.AboutActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

    
    </application>

</manifest>
